body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/matthew-feeney-Nwkh-n6l25w-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 90%;
    margin: 20px auto;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#addForm, #updateAuthorForm {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#addForm h3, #updateAuthorForm h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#addForm label, #updateAuthorForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#addForm input[type="text"], #updateAuthorForm input[type="text"], 
#addForm input[type="file"], #updateAuthorForm input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#addForm button, #updateAuthorForm button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#addForm button:hover, #updateAuthorForm button:hover {
    background-color: #0056b3;
}
.add-button-container {
    position: fixed;
    bottom: 880px;
    right: 20px;
}

.add-button {
    font-size: 18px; 
    padding: 10px 20px; 
    background-color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}
.pagination button.active {
    background-color: #4CAF50;
    color: white;
}


.no-authors-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    font-size: 24px;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffe6e6;
    text-align: center;
}
