body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.container button[type="submit"]:hover {
    background-color: #45a049;
}

.cancel-container {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancelbtn:hover {
    background-color: #e31e1e;
}

.options {
    margin-top: 20px;
    display: flex;
}
