.navbar {
    display: block;
    visibility: visible;
    position: relative;
    background-color: red; 
}

.navbar ul li.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar ul li span {
    cursor: default; 
}

.navbar {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #dee2e6;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 15px;
}

.navbar ul li a, .navbar ul li span {
    text-decoration: none;
    color:red; 
    font-weight: bold;
}

.navbar ul li a:hover, .navbar ul li span:hover {
    color: #0056b3; 
}

.navbar ul li.active a, .navbar ul li.active span {
    color: #007bff;
    cursor: default;
}
.navbar ul li a.logout {
    color: red;
}
