.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 20px; 
}

.book-square {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.book-square h3 {
    margin-bottom: 10px; 
    font-weight: bold; 
}

.book-square p {
    margin-bottom: 10px; 
}

.book-square img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
}

.book-square button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; 
}


.book-square button:hover {
    background-color: #45a049; 
}
.book-square {
    border: 2px solid black; 
    border-radius: 10px; 
    margin: 10px; 
}

.top-left a {
    color: white; 
    background-color: #4CAF50; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
}

.top-left a:hover {
    background-color: #45a049;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.book-square {
    margin-top: 25px; 
}

  
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
}

.search-form {
    margin-left: auto; 
    display: flex; 
}

.search-form input[type="text"] {
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    margin-right: 10px; 
}

.search-form button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.search-form button:hover {
    background-color: #45a049; 
}

.no-books-message-box {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80vh; 
    width: 100%; 
}

.no-books-message {
    color: #ff0000; 
    font-size: 1.5em; 
    font-weight: bold; 
    border: 2px solid #ff0000; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: #fff0f0; 
    text-align: center; 
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}




