<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="/css/authors.css">
</head>
<body>
    <nav class="navbar">
        <form action="/search_authors" method="GET" class="search-form">
            <input type="text" name="query" placeholder="Search by firstname or lastname...">
            <button type="submit">Search</button>
        </form>
    </nav>
    <div class="table-container">
        <table border="1" id="authorTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Firstname</th>
                    <th onclick="sortTable(1)">Lastname</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{ author.firstname }}</td>
                    <td>{{ author.lastname }}</td>
                    <td>
                        {% if author.photo %}
                        <img src="{{ url_for('static', filename=author.photo) }}" alt="Author photo" width="50">
                        {% else %}
                        No Photo
                        {% endif %}
                    </td>
                    <td>
                        <button onclick="redirectToUpdateForm('{{ author.id }}', '{{ author.firstname }}', '{{ author.lastname }}', '{{ author.photo }}')">UPDATE</button>
                        <button onclick="confirmDelete('{{ author.id }}')">DELETE</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="pagination" id="pagination"></div>
    <div class="add-button-container">
        <a href="/add_author"><button class="add-button">➕</button></a>
    </div>

    <!-- Modal -->
    <div id="previewModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="previewImage">
    </div>

    <script src="/js/authors.js"></script>
</body>
</html>
