<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/authors.css">
{% endblock %}

{% block content %}
<div class="header">
    <form name="searchForm" action="/search_authors" method="GET" class="search-form" onsubmit="return validateSearchForm()">
        <input type="text" name="query" placeholder="Search by firstname or lastname...">
        <button type="submit">Search</button>
    </form>
    <div id="error-message" class="error-message"></div>
</div>

<div class="table-container">
    {% if message %}
    <div class="no-authors-message">
        {{ message }}
    </div>
    {% else %}
    <table border="1" id="authorTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Firstname</th>
                <th onclick="sortTable(1)">Lastname</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.firstname }}</td>
                <td>{{ author.lastname }}</td>
                <td>
                    {% if author.photo %}
                    <img src="{{ url_for('static', filename=author.photo) }}" alt="Author photo" width="50">
                    {% else %}
                    No Photo
                    {% endif %}
                </td>
                <td>
                    <button onclick="redirectToUpdateForm('{{ author.id }}', '{{ author.firstname }}', '{{ author.lastname }}', '{{ author.photo }}')">UPDATE</button>
                    <button onclick="confirmDelete('{{ author.id }}')">DELETE</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<div class="pagination" id="pagination"></div>
<div class="add-button-container">
    <a href="/add_author"><button class="add-button">➕</button></a>
</div>


{% endblock %}

{% block scripts %}
<script src="/static/js/authors.js"></script>
{% endblock %}
