<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/static/css/books.css">
 
</head>
<body>
<nav class="navbar">
    <a href="/authors">Authors</a>
    <a href="/subscribers">Subscribers</a>
    <a href="/add_book">➕Add Book</a>

    <form action="/search_books" method="GET" class="search-form">
        <input type="text" name="query" placeholder="Search by title or author...">
        <button type="submit">Search</button>
    </form>
</nav>
<div class="container">
    {% for book in books %}
    <div class="book-square">
        <h3>{{ book.book_title }}</h3>
        <p>By: {{ book.author_firstname }} {{ book.author_lastname }}</p>
        {% if book.photo %}
            <img src="{{ url_for('static', filename=book.photo) }}" alt="Book cover">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <a href="/book-details/{{ book.book_id }}"><button>More Details</button></a>
    </div>
    {% endfor %}
</div>
</body>
</html>

