{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/books.css">
{% endblock %}

{% block content %}
<div class="header">
    <form name="searchForm" action="/search_books" method="GET" class="search-form" onsubmit="return validateSearchForm()">
        <input type="text" name="query" placeholder="Search by title or author...">
        <button type="submit">Search</button>
    </form>
    <div id="error-message" class="error-message"></div>
    <a href="/add_book" class="add-book-button">➕Add Book</a>
</div>

{% if message %}
    <div class="no-books-message">{{ message }}</div>
{% endif %}

{% if books %}
    {% for book in books %}
    <div class="book-square">
        <h3>{{ book.book_title }}</h3>
        <p>By: {{ book.author_firstname }} {{ book.author_lastname }}</p>
        {% if book.book_photo %}
            <img src="{{ url_for('static', filename=book.book_photo) }}" alt="Book cover">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <a href="/book-details/{{ book.book_id }}"><button>More Details</button></a>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/js/books.js"></script>
<script>
    function validateSearchForm() {
        var query = document.forms["searchForm"]["query"].value;
        if (query === "") {
            document.getElementById("error-message").innerText = "Search field cannot be empty.";
            return false;
        }
        return true;
    }
</script>
{% endblock %}
