<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Login</title>
    <link rel="stylesheet" href="/css/authentication.css">
</head>
<body>

<div class="form-container">
    <h2>Library LogIn</h2>
    <form action="/login" method="post">
        <div class="container">
            {% if error %}
                <div class="error" style="color: red;">{{ error }}</div>
            {% endif %}
            <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input id="psw" type="password" placeholder="Enter Password" name="password" required>
            <input type="checkbox" onclick="myFunction()">Show Password

            <button type="submit">Login</button>
        </div>

        <div class="container cancel-container">
            <button type="button" class="cancelbtn">Cancel</button>
        </div>
        <div class="container">
            <a href="/register">Create an account</a>        
        </div>
    </form>
</div>
<script>
    function myFunction() {
      var x = document.getElementById("psw");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>
</body>
</html>
