<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribers</title>
    <link rel="stylesheet" href="/css/subscribers.css">

</head>
<body>
    <h1>List of Subscribers</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscribers %}
                <tr>
                    <td>{{subscriber.ID}}</td>
                    <td>{{ subscriber.firstname }}</td>
                    <td>{{ subscriber.lastname }}</td>
                    <td>{{ subscriber.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="/add_subscriber"><button>➕ Add Subscriber</button></a>
    </div>
</body>
</html>
