<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Update Author{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/update.css">
{% endblock %}

{% block content %}
<h3>Update Author</h3>
<form id="updateForm" method="POST" action="/author/{{ author.id }}" enctype="multipart/form-data">
    <input type="hidden" id="authorId" name="authorId" value="{{ author.id }}">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname" value="{{ author.firstname }}" required><br><br>
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" value="{{ author.lastname }}" required><br><br>
    <label for="photo">Photo:</label>
    <input type="file" id="photo" name="photo" accept="image/*" onchange="previewPhoto()"><br><br>
    <img id="photo-preview" class="photo-preview" src="{{ author.photo }}" alt="Photo Preview"><br><br>
    <input type="hidden" name="existing_photo" id="existing_photo" value="{{ author.photo }}">
    <button type="submit">Update</button>
    <a href="/authors"><button type="button">Cancel</button></a>
</form>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('updateForm');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch(`/author/${formData.get('authorId')}`, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Author updated successfully");
                    window.location.href = '/authors';
                } else {
                    throw new Error('Author update failed');
                }
            })
            .catch(error => {
                alert("Error updating author");
                console.error('There was a problem with the fetch operation:', error.message);
            });
        });
    });

    function previewPhoto() {
        const file = document.getElementById('photo').files[0];
        const preview = document.getElementById('photo-preview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    }
</script>
{% endblock %}
