{% extends "base.html" %}

{% block title %}Update Book{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/add_book_form.css">
<style>
    .photo-preview {
        width: 300px;
        height: auto;
    }
</style>
{% endblock %}

{% block content %}
<form method="POST" action="/book/{{ book.book_id }}" enctype="multipart/form-data">
    <h3>Update Book</h3>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ book.book_title }}" required><br><br>
    <label for="details">Details:</label>
    <input type="text" id="details" name="details" value="{{ book.book_details }}" required><br><br> 
    <div>
        <label for="author">Author:</label>
        <select id="author" name="author" required>
            {% for author in authors %}
            <option value="{{ author.id }}" {% if author.id == book.author_id %}selected{% endif %}>{{ author.firstname }} {{ author.lastname }}</option>
            {% endfor %}
        </select>
    </div>
    <label for="is_borrowed">Is Borrowed:</label>
    <input type="checkbox" id="is_borrowed" name="is_borrowed" {% if book.is_borrowed %}checked{% endif %}><br><br>
    <label for="photo">Photo:</label>
    <input type="file" id="photo" name="photo" accept="image/*" onchange="previewPhoto()"><br><br>
    <img id="photo-preview" class="photo-preview" src="{{ book.photo }}" alt="Photo Preview"><br><br>
    <input type="hidden" name="existing_photo" value="{{ book.photo }}">
    <button type="submit">Update Book</button>
    <a href="/"><button type="button">Cancel</button></a> 
</form>
{% endblock %}

{% block scripts %}
<script>
    function previewPhoto() {
        const file = document.getElementById('photo').files[0];
        const preview = document.getElementById('photo-preview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block'; 
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none'; 
        }
    }
</script>
{% endblock %}
